whenever you code you can use .windsurfrules to make your life easier

whenever you make a change that needs more work you can add // TODO: [WHAT NEEDS TO BE DONE] before and after the change

always use mobile first approach

